* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.generalbody {
    background-color: rgb(245, 245, 245);
}

.header {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 250px;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    border: none;
}

.header image {}

.header-list {
    list-style: none;
    display: flex;

}

.icon1 {
    margin-left: 50px;
    margin-bottom: -100px;
    margin-top: 20px;
    margin-left: -60px;
    display: none;
}

.header-button0 {
    background-color: rgb(3, 49, 149);
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    color: white;
}

.header-button0:hover {
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    border: 1px solid;
    border-color: rgb(3, 49, 149);
}

/* .image-link {
    border-bottom: none;
} */

.header-link1 {
    color: rgb(255, 179, 15);
    border-bottom: 3px solid rgb(3, 49, 149);
    padding: 20px 15px;
    text-decoration: none;
}

.a-header {
    text-decoration: none;
    font-weight: 600;
    font-style: normal;
    font-family: sans-serif;
    color: rgb(3, 49, 149);
    padding: 20px 15px;
}

.a-header:hover {
    border-bottom: 3px solid rgb(3, 49, 149);
    /* padding: 10px 0px; */

}

.body1 {
    height: 800px;
    width: 100%;
    margin-top: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.432)), url(./media/crop1.jpg);
    background-size: cover;

}

.expo-text {
    height: 550px;
    align-self: center;
}

.bimg-button {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 180px;
}

.bimg-button0 {
    height: 50px;
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    padding: 10px 50px;
    border-radius: 4px;
    border: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}

.bimg-button0:hover {
    background-color: rgb(3, 49, 149);
    color: white;
}

.body2 {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    /* border: 1px solid; */
    width: 100%;
}

/* .body2-image1 {
    height: 850px;
    margin-top: 20px;
} */

.body2-div1 {
    padding: 20px 40px;
}

.body2-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25.6px;
    color: rgb(34, 64, 147);

}

.body2-image1 {
    height: 200px;
    margin-top: 30px;
}

.body2-image2 {
    height: 850px;
    width: 900px;
    margin-top: 20px;
}

.body3 {
    height: 200px;
    width: 100%;
    border: 1px solid;
}

.body3-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 800;
    padding: 50px 50px 0px;
    line-height: 78px;
    color: rgb(34, 64, 147);
}

.linerule {
    width: 95%;
    margin-left: 50px;
    border: 1px solid;
    color: bisque;
    justify-content: space-around;
}

.body3-event {
    display: flex;
    gap: 10px;
}

.body3-eventimage {
    border-radius: 15px;
    height: 650px;
    width: 900px;
    /* padding: 50px; */
    margin: 50px 50px;
}

.body3-eventdate {
    margin: 60px -10px;

}

.body3-text1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    color: rgb(34, 64, 147);
}

.body3-text2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    color: black;
}


.body4 {}

.speakersdet {
    margin-top: 30px;
    padding: 20px;

}

.row {
    justify-content: center;
}

.col {
    height: 400px;
    width: 300px;
}

.card {
    border: none;
    background-color: rgb(245, 245, 245);
}

.card-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.875px;
    font-weight: 600;
    color: rgb(34, 64, 147);
}

.card-text {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.last-speakerdet {
    margin-right: 300px;
}

.comingsoon {}

.comingsoontext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    color: black;
    margin: 0px 20px 28.8px;
}

.body5 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tickettext {
    align-content: center;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 28.8px;
    color: rgb(34, 64, 147);
}

.tickettext2 {
    justify-items: center;
}

.A1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: rgb(34, 64, 147);
    font-stretch: 100%;
    line-height: 52px;
}

.A2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: rgb(34, 64, 147);
    padding: auto;
}

.A3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(34, 64, 147);
    padding: auto;
}

.A4 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: rgb(34, 64, 147);
    padding: auto;
}

.buyticket-button {
    height: 50px;
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}

.buyticket-button:hover {
    background-color: rgb(3, 49, 149);
    color: white;
}

.body6 {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-content: center;
    height: 650px;
    gap: 10px;
}

.body6-A {
    height: 550px;
    width: 400px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
}

.inside-body6 {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    gap: 150px;
}

.body6-text1A {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.body6-text2A {
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
}

.body6-text3A {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.body6A-button {
    background-color: rgb(255, 178, 17);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: rgb(3, 49, 149);
    margin-top: -12px;

}

.body6A-button:hover {
    background-color: rgb(3, 49, 149);
    color: white;
}

.body6-B {
    height: 550px;
    width: 400px;
    background-color: rgb(3, 49, 149);
    margin-top: 50px;
    border-radius: 10px;
}

.inside-body6 {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    gap: 150px;
}

.body6-text1B {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.body6-text2B {
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: white;
}

.body6-text3B {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.body6B-button {
    background-color: rgb(255, 178, 17);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: rgb(3, 49, 149);
    margin-top: -12px;

}

.body6B-button:hover {
    background-color: rgb(3, 49, 149);
    color: white;
    border: 1px solid;
    border-color: white;
}

.body6-C {
    height: 550px;
    width: 400px;
    background-color: rgb(255, 178, 17);
    margin-top: 50px;
    border-radius: 10px;
}

.body6-text1C {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.body6-text2C {
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    color: white;
}

.body6-text3C {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.body6C-button {
    background-color: rgb(3, 49, 149);
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    margin-top: -12px;

}

.body6C-button:hover {
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    border: 1px solid;
    border-color: rgb(3, 49, 149);
}

.body7 {
    height: 400px;
    justify-items: center;
    justify-content: center;
}

.body7-A {
    height: 350px;
    width: 700px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    justify-items: center;
    text-align: center;
}

.body7-text {
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: rgb(3, 49, 149);
}

.enq-btn {
    background-color: rgb(255, 178, 17);
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    color: rgb(3, 49, 149);
    font-size: 24px;
    font-weight: 500;
}

.enq-btn1 {
    background-color: rgb(255, 178, 17);
    padding: 10px 50px;
    border-radius: 15px;
    border: none;
    color: rgb(3, 49, 149);
    font-size: 24px;
    font-weight: 500;
}



.enq-btn:hover {
    background-color: rgb(3, 49, 149);
    color: white;
}

.buyticket-btn {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 80px;
}

.buyticket-btn1 {
    height: 50px;
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    padding: 10px 50px;
    border-radius: 25px;
    border: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}

.buyticket-btn1:hover {
    background-color: rgb(3, 49, 149);
    color: white;
}

.div-sponsors {
    height: 120px;
}

.sponsor-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 350px;
    color: rgb(34, 64, 147);
}

.sponsor-img {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.sponsorimg-border {
    border: 1px solid;
    border-color: rgb(255, 178, 17);
}

.div-mediapatners {
    height: 120px;
}

.mediapatners-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 350px;
    color: rgb(34, 64, 147);
}

.mediapatners-img {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.mediapatnersimg-border {
    border: 1px solid;
    border-color: rgb(255, 178, 17);
}

.div-commpatners {
    height: 250px;
}

.commpatners-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 60px;
    color: rgb(34, 64, 147);
}

.commpatners-img {
    display: flex;
    justify-content: center;
    gap: 190px;
    margin-top: 30px;
}

.commpatnersimg-border {
    border: 1px solid;
    border-color: rgb(255, 178, 17);
}

.oyo-logo {
    height: 400px;
    justify-items: center;
}

.oyologo-img {
    height: 500px;
    width: 1400px;
    background-color: white;
    /* border: 1px solid; */
    border-radius: 15px;
    justify-items: center;
    text-align: center;
}

.oyo-arm {
    padding: 50px;
}

.oyologo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(3, 49, 149);
}

.last-linerule {
    width: 95%;
    margin-top: 120px;
    margin-left: 50px;
    border: 1px solid;
    color: bisque;
    justify-content: space-around;
}

.footer-div {
    height: 150px;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    /* gap: 50px; */
    margin-top: 80px;

    justify-content: space-evenly;
}

.footer-button {
    height: 50px;
    background-color: rgb(3, 49, 149);
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
}

.footer-button:hover {
    background-color: rgb(255, 178, 17);
    color: rgb(3, 49, 149);
    border: 1px solid;
    border-color: rgb(3, 49, 149);
}


@media screen and (max-width:767px) {
    .header {
        /* border: 1px solid; */
        background-color: rgb(245, 245, 245);
        /* display: flex; */
        align-items: center;
        /* justify-content: space-around; */
        /* gap: 40px; */
        height: 125px;
        width: 100%;
        overflow: hidden;
    }

    .header-image {
        height: 60px;
        margin-left: 10px;
        display: flex;
    }

    .header-button0 {
        background-color: rgb(3, 49, 149);
        padding: 7px 25px;
        border-radius: 25px;
        font-size: x-small;
        width: 120px;
        height: 50px;
        /* font-size: 16px; */
        color: white;
        margin-left: -700px;
        margin-top: 3px;
    }

    .header-list {
        display: none;
    }

    .icon1 {
        display: block;
        color: blue;
        margin-left: 200px;
        margin-top: 10px;
    }

    .body1 {
        height: 500px;
        max-width: 100%;
        /* justify-content: center; */
        background-position: center;
        margin-top: 100px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.432)), url(./media/crop1.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }

    .image-banner1 {
        height: auto;
        max-width: 100%;
        margin-top: 60px;
    }

    /* .expo-text {
        height: 550px;
        align-self: center;
    } */

    .bimg-button {
        display: block;
        margin-top: -280px;
        padding: 20px 30px;
        text-align: center;
    }

    .bimg-button0 {
        height: 50px;
        background-color: rgb(255, 178, 17);
        color: rgb(3, 49, 149);
        padding: 5px 60px;
        border-radius: 14px;
        font-size: 19px;
        font-family: sans-serif;
        font-weight: 00;
        height: 60px;
        margin: 5px 5px;
    }

    .body2 {
        display: block;
        width: 100%;
    }

    .body2-div1 {
        padding: 20px 40px;
    }

    .body2-text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 17px;
        font-weight: 500;
        line-height: 25.6px;
        color: rgb(34, 64, 147);

    }

    .body2-image1 {
        height: auto;
        width: 100%;
        margin-top: 30px;
    }

    .body2-image2 {
        height: 90%;
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .body3 {
        height: 200px;
        width: 100%;
    }

    .body3-text {
        font-family: Verdana;
        font-size: 20px;
        font-weight: 700;
        padding: 30px 25px 0px;
        line-height: 78px;
        color: rgb(34, 64, 147);
    }

    .linerule {
        width: 95%;
        margin-left: 25px;
        margin-top: -30px;
        border: 1px solid;
        color: rgb(255, 178, 17);
    }

    .body3-event {
        display: block;
        justify-content: center;
    }

    .body3-eventimagediv {
        margin-right: 60px;
    }

    .body3-eventimage {
        border-radius: 15px;
        height: 50%;
        width: 100%;
        margin-top: 20px;
        margin-left: 40px;
    }

    .body3-eventdate {
        margin: 10px;
        text-align: left;
        margin-left: 40px;
    }

    .body3-text1 {
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800;
        color: rgb(34, 64, 147);
    }

    .body3-text2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: normal;
        color: black;
    }

    /* .row-cols-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;  
    } */

    .last-speakerdet {
        margin-right: 50px;
    }

    .body5 {
        display: block;

    }

    .tickettext {
        text-align: center;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 40px 10px 28.8px;
        color: rgb(34, 64, 147);
    }

    .body5-ticketimg {
        height: 70%;
        width: 100%;
        margin-top: 20px;
        padding: 10px 20px;
    }

    .tickettext2 {
        justify-items: center;
    }

    .A1 {
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: rgb(34, 64, 147);
        /* line-height: 62px; */
    }

    .A2 {
        text-align: center;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 800;
        color: rgb(34, 64, 147);
        padding: auto;
    }

    .A3 {
        text-align: center;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin: 40px 10px 28.8px;
        color: rgb(34, 64, 147);
    }

    .A4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 700;
        margin: 40px 10px 28.8px;
        color: rgb(34, 64, 147);
    }

    .buyticket-button {
        height: 35px;
        background-color: rgb(255, 178, 17);
        color: rgb(3, 49, 149);
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: 400;
    }

    .body6 {

        display: block;
        height: 1400px;
        /* justify-content: center; */
        /* align-content: center; */
        /* height: 650px; */
        /* gap: 10px; */
    }

    .body6-A {
        height: auto;
        width: 90%;
        padding: 10px;
        margin-left: 20px;
        background-color: white;
        margin-top: 50px;
        border-radius: 10px;
    }

    .inside-body6 {
        margin-top: 10px;
        margin-top: -30px;
        display: block;
    }

    .body6-text1A {
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 800;
    }

    .body6-text2A {
        margin-top: -20px;
        font-size: 18px;
        font-weight: 900;
    }

    .body6-text3A {
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }

    .body6A-button {
        background-color: rgb(255, 178, 17);
        width: 100px;
        height: 40px;
        border-radius: 15px;
        margin-top: 15px;
        margin-left: -230px;
        border: none;
        color: rgb(3, 49, 149);

    }

    .body6A-button:hover {
        background-color: rgb(3, 49, 149);
        color: white;
    }

    .body6-B {
        height: 400px;
        width: 90%;
        margin-left: 20px;
        background-color: rgb(3, 49, 149);
        margin-top: 50px;
        border-radius: 10px;
    }

    .inside-body6 {
        margin-top: 10px;
        padding: 10px;
        display: flex;
        gap: 150px;
    }

    .body6-text1B {
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: white;
    }

    .body6-text2B {
        margin-top: -30px;
        margin-left: -15px;
        padding: 10px;
        font-size: 18px;
        font-weight: 900;
        color: white;
    }

    .body6-text3B {
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: white;
    }

    .body6B-button {
        background-color: rgb(255, 178, 17);
        width: 100px;
        height: 40px;
        border-radius: 15px;
        margin-top: 15px;
        margin-left: -230px;
        border-radius: 15px;
        border: none;
        color: rgb(3, 49, 149);

    }

    .body6B-button:hover {
        background-color: rgb(3, 49, 149);
        color: white;
        border: 1px solid;
        border-color: white;
    }

    .body6-C {
        height: 600px;
        width: 90%;
        margin-left: 20px;
        background-color: rgb(255, 178, 17);
        margin-top: 50px;
        border-radius: 10px;
    }

    .body6-text1C {
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 800;
        color: white;
    }

    .body6-text2C {
        padding: 10px;
        font-size: 18px;
        font-weight: 900;
        color: white;
    }

    .body6-text3C {
        padding: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: white;
    }

    .body6C-button {
        background-color: rgb(3, 49, 149);
        width: 100px;
        height: 40px;
        border-radius: 15px;
        margin-top: 45px;
        margin-left: -240px;
        border-radius: 15px;
        border: none;
        color: white;
    }

    .body6C-button:hover {
        background-color: rgb(255, 178, 17);
        color: rgb(3, 49, 149);
        border: 1px solid;
        border-color: rgb(3, 49, 149);
    }

    .body7 {
        margin-top: 100px;
        margin: 10 auto;
        height: auto;
        text-align: center;
    }

    .body7-A {
        height: auto;
        width: 90%;
        padding: 10px;
        margin-left: 20px;
        background-color: white;
        margin-top: 50px;
        border-radius: 10px;
        justify-items: center;
        text-align: center;
    }

    .body7-text {
        padding: 50px;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-weight: 800;
        color: rgb(3, 49, 149);
    }

    .enq-btn {
        background-color: rgb(255, 178, 17);
        padding: 10px 30px;
        border-radius: 25px;
        color: rgb(3, 49, 149);
        font-size: 20px;
        font-weight: 500;
    }

    .enq-btn1 {
        background-color: rgb(255, 178, 17);
        padding: 5px 30px;
        border-radius: 25px;
        border: none;
        color: rgb(3, 49, 149);
        font-size: 18px;
        font-weight: 400;
    }

    .buyticket-btn {
        /* height: 100px; */
        display: block;
        justify-content: center;
        gap: 15px;
        margin-top: 140px;
    }

    .buyticket-btn1 {
        height: 50px;
        background-color: rgb(255, 178, 17);
        color: rgb(3, 49, 149);
        padding: 5px 70px;
        border-radius: 25px;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 380;
        text-align: center;
        margin: 10px 20px;
    }

    /* .div-sponsors {
        height: auto;
        width: 45%;
        padding: 20px;
        justify-items: center;
        margin: 10 auto;
        text-align: center;
        gap: 10px;
    }

    .sponsor-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-weight: 800;
        margin-top: 120px;
        margin-left: 350px;
        color: rgb(34, 64, 147);
        text-align: center;
    }

    .sponsor-img {
        height: auto;
        width: 50%;
        border-radius: 15px;
        justify-items: center;
        text-align: center;
        
    }

    .sponsorimg-border {
        border: 1px solid;
        border-color: rgb(255, 178, 17);
    } */

    .div-sponsors {
        height: auto;
        width: 45%;
        padding: 5px 5px;
        justify-content: space-around;
        margin: 10 30px;
        text-align: center;
    }
    
    .sponsor-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 120px;
        margin-left: -90px;
        color: rgb(34, 64, 147);
    }
    
    .sponsor-img {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 5px;
        margin-top: 30px;
    }
    
    .div-mediapatners {
        height: auto;
        width: 45%;
        font-weight: 90%;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
        
    }

    .mediapatners-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 120px;
        margin-left: 10px;
        color: rgb(34, 64, 147);
    }

    .mediapatners-img {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px; 
    }

    .div-commpatners {
        height: 250px;
        width: 45%;
    }

    .commpatners-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 120px;
        margin-left: 10px;
        color: rgb(34, 64, 147);
    }

    .commpatners-img {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
    }

    .commpatnersimg-border {
        border: 1px solid;
        border-color: rgb(255, 178, 17);
    }

    /* .sponsor-img,
    .mediapatners-img,
    .commpatners-img {
        justify-content: center;
        flex-direction: row;
    }

    .sponsorimg-border,
    .mediapatnersimg-border,
    .commpatnersimg-border {
        width: 80%;
        margin-bottom: 10px;
    }

    .sponsor-text,
    .mediapatners-text,
    .commpatners-text {
        font-size: 20px;
    } */

    .oyo-logo {
        height: auto;
        width: 100%;
        padding: 50px;
        justify-items: center;
        margin: 10 auto;
        height: auto;
        text-align: center;
    }
    
    .oyologo-img {
        height: auto;
        width: 100%;
        background-color: white;
        /* border: 1px solid; */
        border-radius: 15px;
        justify-items: center;
        text-align: center;
    }
    
    .oyo-arm {
        padding: 50px;
    }
    
    .oyologo-text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-weight: 800;
        color: rgb(3, 49, 149);
    }
    
    .last-linerule {
        width: 95%;
        margin-top: 40px;
        margin-left: 25px;
        border: 1px solid;
        color: bisque;
        justify-content: space-around;
    }
    
    .footer-div {
        height: 350px;
        display: block;
        text-align: center;
        margin-top: 80px;
    }
    
    .fa-brands {
        margin: 30px 20px;
    }
    
    .footer-button {
        height: 50px;
        background-color: rgb(3, 49, 149);
        color: white;
        padding: 5px 20px;
        border-radius: 15px;
        border: none;
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 500;
        margin: 20px 20px;
    }
}